@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif, serif;
}

body {
  background: #daf5ff;
  
}

.container {
  
  height: 100vh;
  width: 100%;
  display: flex;
}

.content {
  background: #b0daff;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.2);
}

.content h1 {
  font-family: Delicious Handrawn, Sans-Serif;
  font-size: 50px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.content input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.08);
}

.content input[type="email"],
placeholder {
  text-align: center;
}

.content input[type="password"],
placeholder {
  text-align: center;
}

button {
  width: 40%;
  height: 12%;
  margin-top: 17px;
  border-radius: 5px;
  background: #feff86;
  font-weight: bold;
  color: #000;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.08);
}
